body {
  font-family: Palatino;

}

#title {
  background-color: pink;
  padding: 10px
}


#delete-button {
  background-color: pink;
  border-radius: 5px;
  font-size: 0.8em;
  font-family: 'Roboto Mono', monospace;
  opacity: 80%;
  padding: 7px;
}

#save-button {
  background-color: lightgreen;
  border-radius: 5px;
  font-size: 0.8em;
  font-family: 'Roboto Mono', monospace;
  opacity: 80%;
  padding: 7px;
}
